      /* Estilos generales */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: Arial, sans-serif;
        background-image: url('images/Fondo Menu.jpeg');
        background-size: cover;
        background-position: center;
    }

    nav {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0.1rem;
        position: absolute;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-around;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    nav a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 1000px;
        transition: background-color 1.02s;
    }

    .contenido {
        flex: 1; /* Permite que esta sección ocupe el espacio sobrante */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        text-align: center;
    }

    h1 {
        font-size: 4rem;
        animation: fadeIn 2s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    iframe {
        width: 80%;
        height: 50%;
        border: 0;
        margin-top: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    footer {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        text-align: center;
        padding: 10px 0;
    }

    footer a {
        color: #4CAF50;
        text-decoration: underline;
    }

    footer a:hover {
        color: white;
        text-decoration: none;
    }

    @media screen and (max-width: 768px) {
        nav {
            flex-direction: column;
            align-items: center;
        }
        h1 {
            font-size: 3rem;
        }
        iframe {
            width: 100%;
            height: 40%;
        }
    }